.card {
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.3s ease-in-out;
    height: 300px;
    padding: 2rem 2rem 1rem; 
    margin: 2rem 4vw;
  }
  
  .card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .temp {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #f00;
  }
  
  .header {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 0.5rem;
  }
  
  .value {
    font-size: 1rem;
    color: #333;
  }
  
  .icon {
    position: absolute;
    top: -2rem;
    right: -2rem;
    z-index: 999;
    background-color: #fff;
    border-radius: 50%;
    padding: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .icon img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .col-4 {
    padding: 0 1rem;
  }
  
  .row {
    margin-bottom: 1rem;
  }